.card {
    display:grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    background:white;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
}

.title {
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.hierarchyContainer {
    width: 100%;
    padding: 20px;
}

.schoolGroupContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.schoolContainer {
    width: 440px;
    display: grid;
    grid-template-columns: 20px 1fr;
}

.locationContainer {
    width: 220px;
    display: grid;
    grid-template-columns: 20px 1fr;
}

.mainAccount {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: rgb(90, 90, 90);
    border: 2px solid rgb(210, 210, 210);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    font-size: small;
    color: white;
    text-decoration: none;
}

.mainAccount:hover {
    border: 2px solid rgb(0, 174, 255);
    box-shadow: 2px 2px 6px 0 rgba(0, 174, 255, 0.8);
}

.SubAccounts {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    text-align: center;
    font-size: small;
    color: rgb(50, 50, 50);
    border: 2px solid rgb(210, 210, 210);
    /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.SubAccounts:hover {
    border: 2px solid rgb(0, 174, 255);
    box-shadow: 2px 2px 6px 0 rgba(0, 174, 255, 0.8);
}

.Column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Info {
    width: 100%;
}

.connectColumn {
    height: 100%;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.first {
    margin-top: 37px;
    height: 3px;
    width: 100%;
    background-color: rgb(210, 210, 210);
}

.Line {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.vertical {
    height: 100%;
    width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.verticalLine {
    height: 100%;
    width: 2px;
    background-color: rgb(210, 210, 210);
}

.verticalTop {
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.verticalLineTop {
    height: 24px;
    width: 2px;
    background-color: rgb(210, 210, 210);
}

.horizontal {
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.horizontalLine {
    height: 2px;
    width: 11px;
    background-color: rgb(210, 210, 210);
}

.one {
    height: 2px;
    width: 100%;
    background-color: rgb(210, 210, 210);
    /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18); */
}

.columntitle {
    height: 30px;
    width: 200px;
    color: rgb(50, 50, 50);
    font-size: large;
    padding: 5px;
    background-color: rgb(210, 210, 210);
}

.infotitle {
    height: 30px;
    width: 100%;
    color: rgb(50, 50, 50);
    font-size: large;
    padding: 5px;
    background-color: rgb(210, 210, 210);
}

.spacer {
    width: 100%;
    height: 100%;
    background-color: rgb(210, 210, 210);
}

.extraAccountContainer {
    width: 135px;
    height: 20px;
    position: relative;
    right: -170px;
    top: -80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    margin-bottom: -20px;
}

.extraAccountContainer2 {
    width: 135px;
    height: 20px;
    position: relative;
    right: -170px;
    top: -60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    margin-bottom: -20px;
}

.extraAccount {
    background: rgb(202, 91, 91);
    color: white;
    border-radius: 5px 20px;
    border: 2px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
    width: 40px;
    height: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.extraAccount:hover {
    border: 2px solid rgb(0, 174, 255);
    box-shadow: 2px 2px 6px 0 rgba(0, 174, 255, 0.8);
}

.itemTxt {
    color: white;
    font-size: small;
    font-variant: small-caps;
}

.infoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoBox {
    width: 100%;
    height: 350px;
    background: white;
    color: white;
    border-radius: 10px 50px;
    border: 5px solid rgb(204, 138, 138);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoBoxCard {
    width: 100%;
    /* height: 290px; */
    border-radius: 5px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
    background: white;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titleBarr {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(204, 138, 138);
    color: rgb(50, 50, 50);
    font-size: large;
    font-variant: small-caps;
}

.extraAccountAdressContainer{
    width: 100%;
    height: 100%;
    color: rgb(50, 50, 50);
    font-variant: normal;
    font-size: small;
    line-height: xx-large;;
    padding: 10px;
}

.bttn {
    width: 200px;
    height: 30px;
    background: rgb(204, 138, 138);
    color: white;
    font-variant: small-caps;
    border-radius: 10px;
    border: 2px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.bttn:hover {
    border: 2px solid rgb(0, 174, 255);
    box-shadow: 2px 2px 6px 0 rgba(0, 174, 255, 0.8);
}

.tableFirstColumn {
    width: 120px;
}

.accountIcon {
    width:25px;
    height:25px;
    border-radius: 50%;
    border: 2px solid rgb(210, 210, 210);
    /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18); */
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
}

.accountIcon:hover {
    border: 2px solid rgb(0, 174, 255);
    box-shadow: 2px 2px 6px 0 rgba(0, 174, 255, 0.8);
}

a:hover {
    text-decoration: none;
}