/* GENERAL CLASSES */
.card {
    display:grid;
    grid-template-rows: 40px 1fr;
    width: 100%;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.accountCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.flexHalignCenter {
    align-items: center;
}
.flexSpaceBetween {
    justify-content: space-between;
}
.flexSpaceAround {
    justify-content: space-around;
}
.flexAlignStart {
    justify-content: flex-start;
}
.spacer5 {
    height: 5px;
}
.centeredCell {
    text-align: center;
}
.zPos_up {
    z-index: 100;
}
.width100 {
    width: 100%;
}
.cursorPointer {
    cursor: pointer;
}
.marginTop5 {
    margin-top: 5px;
}
.padding5 {
    padding: 5px;
}
/* -- END GENERAL CLASSES */

/* SLDS EXTENTIONS */
.slds-modal__content {
    overflow: initial;
}
/* END SLDS EXTENTIONS */

/* TITLE SPECIFIC CLASSES */
.title {
    font-size: larger;
    font-weight: bold;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon { 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleText {
    padding-top: 10px;
    padding-right: 10px;
}
/* --- END TITLE SPECIFIC CLASSES */

/* BUTTON SPECIFIC CLASSES */
.bttn {
    Padding: 5px;
    background: rgb(33, 160, 223);
    color: white !important;
    border-radius: 5px;
    text-align: center;
}
/* END BUTTON SPECIFIC CLASSES */

/* DATA TABLE SPECIFIC CLASSES */
.tableContainer {
    margin: 10px;
}

table.dataTable {
    border-collapse: collapse;
}
table.dataTable td, th {
    border-bottom: 2px solid rgb(230, 230, 230);
    border-right: 2px solid rgb(230, 230, 230);
    border-left: 2px solid rgb(230, 230, 230);
    border-top: 2px solid rgb(230, 230, 230);
    padding: 10px;
    color: rgb(75, 75, 75);
}
table.dataTable th {
    background: rgb(230, 230, 230);
    border-right: 1px solid rgb(240, 240, 240) !important;
    border-left: 1px solid rgb(240, 240, 240) !important;
}
table.dataTable td {
    vertical-align: top;
}

.itemType {
    width: 125px !important;
}
.typeName {
    padding-right: 10px;
}
.typeSelection {
    width: 38px;
    margin-right: 20px;;
}
.addFRP {
    margin-left: 20px;
}
.fpd {
    width: 120px;
}
.sl {
    width: 75px;
}
.nis {
    width: 120px;
}
.reserved {
    width: 75px;
}
.icon-cell {
    text-align: center;
}
.number {
    text-align: right;
}
.qty {
    width: 120px;
}
.action {
    width: 50px;
}
.action2 {
    width: 100px;
}
.accountHeader {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.acc {
    vertical-align: middle;
    height: 100%;
}
.addAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 50%;
}
.addPartner {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/* END DATA TABLE SPECIFIC CLASSES */

/* ICON SPECIFIC CLASSES */
.iconColor-green {
    --sds-c-icon-color-foreground-default: seaGreen;
}
.iconColor-yellow {
    --sds-c-icon-color-foreground-default: darkKhaki;
}
.iconColor-orange {
    --sds-c-icon-color-foreground-default: darkOrange;
}
.iconColor-red {
    --sds-c-icon-color-foreground-default: firebrick;
}
.iconColor-darkRed {
    --sds-c-icon-color-foreground-default: darkRed;
}
.iconColor-white {
    --sds-c-icon-color-foreground-default: white;
}
/* END ICON SPECIFIC CLASSES */

/* CARD SPECIFIC CLASSES */
.card {
    width: 100%;
    position: relative;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.lightGray {
    background: rgb(245, 245, 245) !important;
}
.close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    background: gray;
    color: white;
    top: -5px;
    right: -5px;
    border: 3px solid white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.cross {
    width: 10px;
    height: 10px;
    position: relative;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
}
.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
  }
  
.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
  }
  
.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
  }
.accountName { /*top right bottom left*/
    padding: 5px 5px 0px 5px;
    width: 100%;
}
.accountQuantity{
    width: 100px;
}
.cardInfoContainer {
    width: 100%;
    height: 100%;
}
.productName {
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.productQuantity {
    padding: 0px 5px 5px 5px; /*top right bottom left*/
    width: 100%;
}
.edit {
    width: 50px;
    cursor: pointer;
}
.cardTitle {
    color:rgb(122, 122, 122) !important;
    width: 75px;
}
.cardTitleWide {
    color:rgb(122, 122, 122) !important;
    width: 120px;
}
.frppQty {
    width: 110px;
}
.addPrd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 10px;
}
/* END CARD SPECIFIC CLASSES */